@import "@s9a/tape";
@import "article";

body {
  font-family: monospace;

  a {
    text-decoration: none;

    &:focus {
      outline: none;
    }

    &:hover, &:focus {
      background: var(--tape-white) !important; //!important is necessary for @s9a/tape library
      color: var(--tape-black) !important; //!important is necessary for @s9a/tape library
    }
  }
}

.landing-page {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  max-width: 800px;
}

.landing-title {
  margin: 0;
  font-size: 3rem;
}

.landing-section {
  display: flex;
  box-sizing: content-box;
  margin-block-start: 20px;
  padding: 40px;
  font-size: 1.25rem;

  .landing-section-heading {
    align-self: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-block-start: 0;
  }

  .landing-section-body {
    p {
      margin-block-start: 0;
    }

    .landing-section-link {
      margin-block-end: 8px;
    }
  }
}

// Set min margin to 40px (screen size: 40px + 800px + 40px)
@media (max-width: 880px) {
  .landing-page {
    margin: 40px;
  }
}

// Smaller font for mobile screens
@media (max-width: 600px) {
  .landing-section {
    font-size: 1rem;
  }
}