.article-page {
  margin: 50px;
  font-size: 1.25rem;

  a:hover, a:focus {
    background: var(--tape-black) !important; //!important is necessary for @s9a/tape library
    color: var(--tape-hex) !important; //!important is necessary for @s9a/tape library
  }
}

.back-arrow {
  height: 0;
  margin: 20px 10px;

  .material-icons {
    font-size: 2rem;
  }

  a:hover, a:focus {
    background: transparent !important; //!important is necessary for @s9a/tape library

    .material-icons {
      background: var(--tape-black) !important; //!important is necessary for @s9a/tape library
      color: var(--tape-white) !important; //!important is necessary for @s9a/tape library
    }
  }
}
